div {
    align-items: center;
    justify-content: center;
    display: flex;

}

p {
    width: 200px;
    padding: 10px;
    font-size: large;
    cursor: help;
    display: inline-block;
    border-radius: 10px;
    border: 10px solid rgb(237, 255, 150);
}

span {
    color: rgb(0, 129, 249); text-shadow: 2px 2px 4px rgb(145, 247, 193);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    line-height: 1.5;
    border-top: 5px solid #ccc;
    border-left: 5px solid #ccc;
    margin: 20px 10px;
}

td:hover {
    transform: translateY(-2px);
    color: white;
    border-color: white;
    border: 2px;
}

th {
    height: 40px;
}

td {
    padding: 10px 20px;
    text-align: center;
    transition: color 0.3s 0.3s, border-color 0.3s ;
}

input {
    text-align: right;
    border: none;
}

input:focus {
    outline: none;
}

input[type=text]:hover {
    background-color: pink;
}
/* css 폼요소에 스타일 시트가 적용된 부분 */

.NaN {
    background-color: rgb(119, 253, 202);
}

.operator {
    background-color: rgb(237, 255, 150);
}

td:hover {
    background-color: #ccc;
}

td:active {
    background-color: rgb(255, 155, 155);
}