.menu li:nth-child(1) a::before {
    content: '\ea28';
}

.menu li:nth-child(2) a::before {
    content: '\f01f';
}

.menu li:nth-child(3) a::before {
    content: '\e8c8';
}

.menu li:nth-child(4) a::before {
    content: '\ebc4';
}

article {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 50px;
}

